@import "./_layout.css";

/********** fullscreen **********/
body.fullscreen {
  display: block;
  /* don't move */
  position: fixed;
  width: 100%;
  height: 100vh;
  height: 100dvh;
  display: grid;
  place-items: center;
}
